<!--<div *ngFor="let question of questions">-->
  <!--{{question.content}}-->
<!--</div>-->
<table style="opacity: inherit; margin: 0 auto" class="table table-striped">
  <thead class="table-dark">
  <tr align="center" class="d-flex">
    <td class="col-lg-9">Questions</td>
    <!--<td class="col-1">Details</td>-->
    <!--<td class="col-1">Delete Question</td>-->
    <!--<td class="col-1">Edit Question</td>-->
  </tr>
  </thead>
  <tbody>
  <tr align="center" *ngFor="let question of questions" class="d-flex">
    <td class="col-lg-9">{{question.shortDescription}}</td>
    <td class="col-1"><a href="#">view</a></td>
    <td class="col-1">
      <form>
        <button type="submit" class="btn btn-secondary">Delete</button>
      </form>
    </td>
    <td class="col-1">
      <form>
        <input type="hidden" name="id">
        <button type="submit" class="btn btn-secondary">Edit</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>
